---
// AuthorBox component - E-E-A-T signal
---

<aside class="author-box" itemscope itemtype="https://schema.org/Person">
  <div class="author-box__avatar" aria-hidden="true">KL</div>
  <div>
    <div class="author-box__name" itemprop="name">Karol Leszczyński</div>
    <p class="author-box__bio" itemprop="description">
      Full-Stack Developer i specjalista SEO copywritingu z ponad 15-letnim doświadczeniem w digital marketingu.
      Twórca platform AI do generowania treści (Smart-Copy.ai) i narzędzi edukacyjnych.
      Łączy praktyczną wiedzę programistyczną z głębokim zrozumieniem content marketingu i pozycjonowania.
    </p>
  </div>
</aside>
